
.rform{
    width:400px;
    margin:auto;
    margin-top:70px;
    background-color:#010048;
    color: white;
    padding:25px;
}
.rtext{
    width:100%;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
    box-sizing:border-box;
    resize:none;
    font-size:1rem;
}
.rlab{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.rbut{
    padding:10px 15px;
    font-weight: bold;
    color: white;
    margin-left:60px;
    border-style:none;
    border-radius: 5px;
}
.sup
{
    font-size:2rem;
    margin-bottom: 15px;
}
.first{
    background-color: darkblue;
}
.sec{
    background-color: grey;
}