body{
    background-color:#ffd1c3;
}
form{
    width:400px;
    margin:auto;
    margin-top:70px;
    background-color:#010048;
    color: white;
    padding:25px;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="file"]
,select,textarea{
    width:100%;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
    box-sizing:border-box;
    resize:none;
    font-size:1rem;
}
label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    padding:10px 15px;
    font-weight: bold;
    color: white;
    margin-left:60px;
    border-style:none;
    border-radius: 5px;
}
.sup
{
    font-size:2rem;
    margin-bottom: 15px;
}
.first{
    background-color: darkblue;
}
.sec{
    background-color: grey;
}